h1 {
    color: snow;
    text-align: center; font-size: 60px;
    font-style: normal;     
}
p {
    color: black;    
    text-align: center; font-size: 30px;
}
div {
    color: blue;
}
        body {
            background-image: url(https://pbs.twimg.com/media/E3d_mEOWQAUb8as.jpg:large);
        }
        img {
            border-radius: 50%;
        }
        #menu ul {
            padding:0px;
            margin:0px;
            background-color:#EDEDED;
            list-style:none;
            text-align: center;
        }
        #menu ul li { display: inline; }
        #menu ul li a {
            padding: 2px 10px;
            display: inline-block;
        
            /* visual do link */
            background-color:#EDEDED;
            color: #333;
            text-decoration: none;
            border-bottom:3px solid #EDEDED;
        }
        #menu ul li a:hover {
            background-color:#ebe3e3;
            color: #6D6D6D;
            border-bottom:3px solid #EA0000;
        }
        pre {
            background-color: snow;
            font-size: 15px;            
        }